Integração do N8N e WhatsApp/My_workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "098abfee-9bb2-4121-be35-ce657c8fd8be",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "9621cfbb-88fa-4952-a6bc-3d89de911de8",
      "name": "Webhook",
      "webhookId": "098abfee-9bb2-4121-be35-ce657c8fd8be"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "1562ca3f-790f-44c2-ba78-6daaeca4aad9",
              "leftValue": "={{ $json.groupid }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notExists",
                "singleValue": true
              }
            },
            {
              "id": "ea968e38-7726-4a99-b5d7-38087dcee5d7",
              "leftValue": "={{ $json.participant }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notExists",
                "singleValue": true
              }
            },
            {
              "id": "bb5431a1-9e28-49b7-8ae8-3dfbded58943",
              "leftValue": "={{ $json.frome }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        480,
        -100
      ],
      "id": "6a45911f-13b2-477f-aaac-8cb736279ecb",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        680,
        0
      ],
      "id": "86d567f1-cdda-4be2-a349-8549276ba8bd",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "d331634b-c032-4b47-b75b-47669d9c6d8a",
                    "leftValue": "={{ $json.messagetype }}",
                    "rightValue": "conversation",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "messageText"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "26d0ce35-4a15-415c-a450-153100135a47",
                    "leftValue": "={{ $('Webhook').item.json.body.data.messageType }}",
                    "rightValue": "imageMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "imageMessage"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b2e0b155-15bc-4052-b764-a2d76c663a2a",
                    "leftValue": "={{ $('Webhook').item.json.body.data.messageType }}",
                    "rightValue": "audioMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "audioMessage"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        680,
        -200
      ],
      "id": "80790ee8-fce2-484e-a5ee-ad9e62508a06",
      "name": "Switch"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "Você é um assistente virtual do Marcos. Deve responder as mensagens com cordialidade.\n\nResponda sempre em Português do Brasil\n\nEtapas do Atendimento:\n\n1 - Identificar o interesse da conversa\n2 - direcionar a apenas para questiões academicas do curso de Sistemas de Informação.\n3 - Finalize sempre a convera com um Tchau,Brigado!\n\nObrigatório:\nSempre use a ferramenta Tool Think para pensar antes de responder sobre qualquer assunto. \n\nNão responda nada fora deste contexto."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        2480,
        -180
      ],
      "id": "16e988b0-a90b-439b-9b0f-e584f37fff48",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        2380,
        80
      ],
      "id": "492c3e26-35fd-4292-89c5-2b123fefa50a",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "cVZa6J0bKkHV5j2D",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Entrada').item.json.remoteJid }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        2580,
        60
      ],
      "id": "f8c4ad5d-864a-4269-bb0d-500fd21feaf8",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "resource": "chat-api",
        "operation": "send-presence",
        "instanceName": "N8nwhatsapp",
        "remoteJid": "={{ $('Switch').item.json.remoteJid }}"
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        2860,
        -160
      ],
      "id": "bd7eb2dc-36e6-4492-a7b3-f6762f062ecc",
      "name": "Evolution API",
      "credentials": {
        "evolutionApi": {
          "id": "S5oO1YsK8jhauRat",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3060,
        -120
      ],
      "id": "a7f25052-3bd0-4560-99f4-a3498a555ae8",
      "name": "Wait",
      "webhookId": "f27cfadc-ecf7-40f9-8aa2-e86b6965cb89"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "N8nwhatsapp",
        "remoteJid": "5566992023671",
        "messageText": "=oi {{ $('Switch').item.json.message }}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        3300,
        -100
      ],
      "id": "32a28eaa-7c58-4e3f-8c9a-62685724773b",
      "name": "Evolution API1",
      "credentials": {
        "evolutionApi": {
          "id": "S5oO1YsK8jhauRat",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1,
      "position": [
        2760,
        40
      ],
      "id": "93f201f8-e71e-44ec-8a1e-910610744d10",
      "name": "Think"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "24ef9fc9-1c8d-46d3-a043-b205be15652c",
              "name": "messagetype",
              "value": "={{ $json.body.data.messageType }}",
              "type": "string"
            },
            {
              "id": "3f7837b5-8b07-4e4b-af60-8c9a882cfaae",
              "name": "remoteJid",
              "value": "={{ $json.body.data.key.remoteJid }}",
              "type": "string"
            },
            {
              "id": "d387199f-7ed1-4871-873d-ee10700df6ef",
              "name": "message",
              "value": "={{ $json.body.data.message.conversation }}",
              "type": "string"
            },
            {
              "id": "25cefc9d-83e7-4487-89b7-bcde7bf1df03",
              "name": "groupid",
              "value": "={{ $json.body.data.message.senderKeyDistributionMessage.groupId }}",
              "type": "string"
            },
            {
              "id": "cdd212d8-c909-449a-8fb0-5af4998c1604",
              "name": "participant",
              "value": "={{ $json.body.data.key.participant }}",
              "type": "string"
            },
            {
              "id": "5f7ecba5-0f6e-4b93-9956-0ad3938d1c99",
              "name": "frome",
              "value": "={{ $json.body.data.key.fromMe }}",
              "type": "boolean"
            },
            {
              "id": "7345952d-34e4-4a44-b14a-c5cf2b70fb21",
              "name": "audioMessage",
              "value": "={{ $json.body.data.message.base64 }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        260,
        -100
      ],
      "id": "34d5f8f1-b5cb-4c59-89c8-980623718c67",
      "name": "Entrada"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d07b8f49-3628-4c68-9717-f8572489690c",
              "name": "base64",
              "value": "={{ $json.audioMessage }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        940,
        80
      ],
      "id": "d960c900-38ef-40a7-a0ca-683cd5b31774",
      "name": "getBase64"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "base64",
        "options": {
          "fileName": "audio.ogg",
          "mimeType": "audio/ogg"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1160,
        -20
      ],
      "id": "c1fcd53d-b880-4d6a-a9d5-4a6407b6e12b",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/audio/transcriptions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "groqApi",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "whisper-large-v3-turbo"
            },
            {
              "name": "language",
              "value": "pt"
            },
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1400,
        0
      ],
      "id": "c509e226-ee75-4433-8a51-2aadcf5a4c9e",
      "name": "HTTP Request",
      "credentials": {
        "groqApi": {
          "id": "cVZa6J0bKkHV5j2D",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4e5c7d62-180e-476c-97ac-b62821b54348",
              "name": "text",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1620,
        0
      ],
      "id": "5e6c0077-eec7-4312-8ad1-114c7dfcae1e",
      "name": "PegarTexto"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        1840,
        -140
      ],
      "id": "f42619d9-a302-407b-9cbc-8cec31b686b4",
      "name": "Merge"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4cfe7a4f-f043-404a-ae77-7fd118230186",
              "name": "text",
              "value": "={{ $json.message }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1240,
        -320
      ],
      "id": "bab1c66e-583e-4930-9dc3-5ba3b0e4b1c2",
      "name": "Edit Fields"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Entrada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [],
        [
          {
            "node": "getBase64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Evolution API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evolution API": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Evolution API1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Think": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Entrada": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "getBase64": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "PegarTexto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PegarTexto": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "97302867-b054-45a0-b494-b9fe1a935c2d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3d2241a931a41caca7ba8f38cf7f8543bef4654d8031ea7e7f027085ba9a77a6"
  },
  "id": "OOzz6BN88MZ9WK08",
  "tags": []
}